USE [master]
GO
/****** Object:  Database [delegacia]    Script Date: 19/03/2024 13:29:57 ******/
CREATE DATABASE [delegacia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'delegacia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\delegacia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'delegacia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\delegacia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [delegacia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [delegacia]
GO
/****** Object:  Table [dbo].[arma]    Script Date: 19/03/2024 13:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arma](
	[idarma] [int] NOT NULL,
	[descricaoarma] [varchar](50) NOT NULL,
	[fabricante] [varchar](50) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_arma] PRIMARY KEY CLUSTERED 
(
	[idarma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[criminoso]    Script Date: 19/03/2024 13:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[criminoso](
	[idcriminoso] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [numeric](11, 0) NOT NULL,
	[rg] [varchar](20) NOT NULL,
	[nascimento] [date] NOT NULL,
	[foto] [varchar](100) NULL,
 CONSTRAINT [PK_criminoso] PRIMARY KEY CLUSTERED 
(
	[idcriminoso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ocorrencia]    Script Date: 19/03/2024 13:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocorrencia](
	[idocorrencia] [int] NOT NULL,
	[idvitima] [int] NOT NULL,
	[idcriminoso] [int] NOT NULL,
	[idarma] [int] NOT NULL,
	[dataoc] [date] NOT NULL,
	[horario] [time](7) NOT NULL,
	[descrição] [varchar](100) NOT NULL,
	[local] [varchar](50) NOT NULL,
	[idpolicial] [int] NOT NULL,
 CONSTRAINT [PK_ocorrencia] PRIMARY KEY CLUSTERED 
(
	[idocorrencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[policial]    Script Date: 19/03/2024 13:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[policial](
	[idpolicial] [int] NOT NULL,
	[nome] [varchar](50) NULL,
	[cpf] [numeric](11, 0) NULL,
	[rg] [varchar](20) NULL,
	[cargo] [varchar](20) NULL,
	[telefone] [varchar](50) NULL,
 CONSTRAINT [PK_policial] PRIMARY KEY CLUSTERED 
(
	[idpolicial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vitima]    Script Date: 19/03/2024 13:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vitima](
	[idvitima] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [numeric](11, 0) NOT NULL,
	[rg] [varchar](20) NOT NULL,
	[telefone] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[nascimento] [date] NOT NULL,
 CONSTRAINT [PK_vitima] PRIMARY KEY CLUSTERED 
(
	[idvitima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[arma] ([idarma], [descricaoarma], [fabricante], [tipo]) VALUES (20020, N'Faca de cozinha', N'Tramontina', N'Arma branca')
INSERT [dbo].[arma] ([idarma], [descricaoarma], [fabricante], [tipo]) VALUES (20021, N'Pexeira', N'Tramontina', N'Arma branca')
INSERT [dbo].[arma] ([idarma], [descricaoarma], [fabricante], [tipo]) VALUES (20022, N'Glock 18', N'Ges mhb', N'Arma de fogo')
GO
INSERT [dbo].[criminoso] ([idcriminoso], [nome], [cpf], [rg], [nascimento], [foto]) VALUES (33325, N'Renato Gabriel Kauê Assis', CAST(77855194126 AS Numeric(11, 0)), N'392106024', CAST(N'1999-04-05' AS Date), N'https://drive.google.com/file/d/1MqET6edTIuEDKFx0ZzALofukUNyQP2oP/view?usp=drive_link')
INSERT [dbo].[criminoso] ([idcriminoso], [nome], [cpf], [rg], [nascimento], [foto]) VALUES (33329, N'Elias Lucas Pinto', CAST(2792762730 AS Numeric(11, 0)), N'481861944', CAST(N'1995-01-15' AS Date), N'https://drive.google.com/file/d/1Et1Zf7RQvNYgDxuHqHdnZo62ZPN9ZM-C/view?usp=drive_link')
INSERT [dbo].[criminoso] ([idcriminoso], [nome], [cpf], [rg], [nascimento], [foto]) VALUES (33334, N'Isabel Tatiane Jéssica Nascimento', CAST(89700440354 AS Numeric(11, 0)), N'364069958', CAST(N'1990-03-14' AS Date), N'https://drive.google.com/file/d/1gB8TAgEtuf3GUVByGxpyh8sPh5poX5cJ/view?usp=drive_link')
GO
INSERT [dbo].[ocorrencia] ([idocorrencia], [idvitima], [idcriminoso], [idarma], [dataoc], [horario], [descrição], [local], [idpolicial]) VALUES (235, 11119, 33341, 20020, CAST(N'2000-03-15' AS Date), CAST(N'12:39:00' AS Time), N'Briga de casal', N'Rua Confidência ', 87720)
INSERT [dbo].[ocorrencia] ([idocorrencia], [idvitima], [idcriminoso], [idarma], [dataoc], [horario], [descrição], [local], [idpolicial]) VALUES (436, 11120, 33325, 20021, CAST(N'1998-10-01' AS Date), CAST(N'18:21:00' AS Time), N'Briga de transito', N'Avenida 80', 87721)
INSERT [dbo].[ocorrencia] ([idocorrencia], [idvitima], [idcriminoso], [idarma], [dataoc], [horario], [descrição], [local], [idpolicial]) VALUES (437, 111265, 33350, 20022, CAST(N'2003-02-22' AS Date), CAST(N'00:05:00' AS Time), N'Atropelamento', N'Avenida Bento', 87741)
GO
INSERT [dbo].[policial] ([idpolicial], [nome], [cpf], [rg], [cargo], [telefone]) VALUES (87720, N'Francisco Danilo Anthony Pereira', CAST(3329932210 AS Numeric(11, 0)), N'290926853', N'escrivao', N'(99) 5555-40002')
INSERT [dbo].[policial] ([idpolicial], [nome], [cpf], [rg], [cargo], [telefone]) VALUES (87721, N'Maya Nair Letícia Pinto', CAST(22358213594 AS Numeric(11, 0)), N'385423597', N'escrivao', N'(99) 5555-4052')
INSERT [dbo].[policial] ([idpolicial], [nome], [cpf], [rg], [cargo], [telefone]) VALUES (87741, N'Luan Felipe Rodrigo Monteiro', CAST(45875640448 AS Numeric(11, 0)), N'156703683', N'carcereiro', N'(99) 5555-2333')
GO
INSERT [dbo].[vitima] ([idvitima], [nome], [cpf], [rg], [telefone], [email], [nascimento]) VALUES (11119, N'Levi Cláudio Bento da Rocha', CAST(77950213442 AS Numeric(11, 0)), N'291181612', N'6135789666', N'levi.claudio.darocha@gruposeteestrelas.com.br', CAST(N'2005-01-10' AS Date))
INSERT [dbo].[vitima] ([idvitima], [nome], [cpf], [rg], [telefone], [email], [nascimento]) VALUES (11120, N'Eduardo Nelson Theo Mendes', CAST(17017958330 AS Numeric(11, 0)), N'242313899', N'6328826650', N'eduardo.nelson.mendes@pig.com.br', CAST(N'2004-02-10' AS Date))
INSERT [dbo].[vitima] ([idvitima], [nome], [cpf], [rg], [telefone], [email], [nascimento]) VALUES (11122, N'Rita Andrea Emanuelly Moreira', CAST(20526070994 AS Numeric(11, 0)), N'173160797', N'2725741004', N'rita_moreira@mrarquitetura.com.br', CAST(N'2002-04-01' AS Date))
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_arma] FOREIGN KEY([idarma])
REFERENCES [dbo].[arma] ([idarma])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_arma]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_criminoso] FOREIGN KEY([idcriminoso])
REFERENCES [dbo].[criminoso] ([idcriminoso])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_criminoso]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_policial] FOREIGN KEY([idpolicial])
REFERENCES [dbo].[policial] ([idpolicial])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_policial]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_vitima] FOREIGN KEY([idvitima])
REFERENCES [dbo].[vitima] ([idvitima])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_vitima]
GO
USE [master]
GO
